<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmdy.customerManage.appSpreadUnit.dao.App_Spread_UnitMapper" >

    <resultMap
        id="appSpreadUnits"
        type="com.nmdy.customerManage.appSpreadUnit.dao.AppSpreadUnit" >

        <id
            column="id"
            property="id" />

        <result
            column="unit_id"
            property="unit_id" />

        <result
            column="name"
            property="name" />

        <result
            column="create_date"
            property="create_date" />

        <result
            column="linkname"
            property="linkname" />

        <result
            column="linkphone"
            property="linkphone" />

        <result
            column="group_property"
            property="group_property" />

        <result
            column="contract_no"
            property="contract_no" />

        <result
            column="fix_phone"
            property="fix_phone" />

        <result
            column="email"
            property="email" />

        <result
            column="fax"
            property="fax" />

        <result
            column="group_address"
            property="group_address" />

        <result
            column="invite_code"
            property="invite_code" />

        <result
            column="balance_ts"
            property="balance_ts" />

        <result
            column="ratio_as_passenger_self"
            property="ratio_as_passenger_self" />

        <result
            column="integer_as_passenger_self"
            property="integer_as_passenger_self" />

        <result
            column="active_as_passenger_self"
            property="active_as_passenger_self" />

        <result
            column="ratio_as_driver_self"
            property="ratio_as_driver_self" />

        <result
            column="integer_as_driver_self"
            property="integer_as_driver_self" />

        <result
            column="active_as_driver_self"
            property="active_as_driver_self" />

        <result
            column="limit_month_as_passenger_self"
            property="limit_month_as_passenger_self" />

        <result
            column="limit_month_as_driver_self"
            property="limit_month_as_driver_self" />

        <result
            column="limit_count_as_passenger_self"
            property="limit_count_as_passenger_self" />

        <result
            column="limit_count_as_driver_self"
            property="limit_count_as_driver_self" />

        <result
            column="goods"
            property="goods" />

        <result
            column="deleted"
            property="deleted" />
    </resultMap>

    <resultMap
        id="TransactionDetailMap"
        type="com.nmdy.financial.account.dao.TransactionDetail" >

        <id
            column="id"
            property="id" />
    </resultMap>

    <select
        id="findByMaxUserId"
        parameterType="int"
        resultMap="TransactionDetailMap" >
		select * from ts where id = (select max(id) from ts where userid=#{userId})
    </select>

    <select
        id="findAll"
        resultMap="appSpreadUnits" >
		SELECT * FROM app_spread_unit
		WHERE deleted=0
    </select>

    <!-- 常用的查询结果集 -->

    <resultMap
        id="App_Spread_UnitBaseInfo"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="unit_id"
            property="unit_id" />

        <result
            column="name"
            property="name" />

        <result
            column="linkname"
            property="linkname" />

        <result
            column="linkphone"
            property="linkphone" />

        <result
            column="balance"
            javaType="DECIMAL"
            property="balance" />
    </resultMap>

    <!-- 按照ID，用户名，姓名，电话 四种条件查询 -->

    <select
        id="findApp_Spread_UnitsByCondition"
        parameterType="java.util.Map"
        resultMap="App_Spread_UnitBaseInfo" >
		select
			asu.id as id,
			asu.unit_id as unit_id,
			asu.name as name, 
			asu.linkname linkname,
			asu.linkphone as linkphone,
			(SELECT balance  FROM ts    WHERE  unitid= asu.id ORDER BY ts_date DESC LIMIT 1) AS balance
		from 
			app_spread_unit asu

        <where>

            <if test="conditionSelect != null or conditionSelect == null or conditionInput != null  or conditionInput == null" >
				asu.deleted = 0
            </if>

            <if test="conditionSelect != null and conditionSelect == &apos;unit_id&apos; and conditionInput != null" >
				AND asu.unit_id LIKE '%${conditionInput}%'
            </if>

            <if test="conditionSelect != null and conditionSelect == &apos;name&apos; and conditionInput != null" >
				AND  asu.name LIKE '%${conditionInput}%'
            </if>
        </where>
		LIMIT #{start},#{limit} ;
    </select>

    <!-- 获得条件查询的总记录数 -->

    <select
        id="getApp_Spread_UnitCountByCondition"
        parameterType="java.util.Map"
        resultType="java.lang.Integer" >
		select count(*) from app_spread_unit

        <where>

            <if test="conditionSelect != null and conditionSelect == &apos;id&apos; and conditionInput != null" >
				id LIKE '%${conditionInput}%'
            </if>

            <if test="conditionSelect != null and conditionSelect == &apos;name&apos; and conditionInput != null" >
				name LIKE '%${conditionInput}%'
            </if>
        </where>
    </select>

    <!-- 集团客户查询结果集 -->

    <resultMap
        id="App_Spread_Unit_Info"
        type="java.util.Map" >

        <result
            column="id"
            property="id" />

        <result
            column="unit_id"
            property="unit_id" />

        <result
            column="name"
            property="name" />

        <result
            column="create_date"
            property="create_date" />

        <result
            column="linkname"
            property="linkname" />

        <result
            column="linkphone"
            property="linkphone" />

        <result
            column="group_property"
            property="group_property" />

        <result
            column="contract_no"
            property="contract_no" />

        <result
            column="fix_phone"
            property="fix_phone" />

        <result
            column="email"
            property="email" />

        <result
            column="fax"
            property="fax" />

        <result
            column="group_address"
            property="group_address" />

        <result
            column="sign_time"
            property="sign_time" />

        <result
            column="invite_code"
            property="invite_code" />

        <result
            column="remark"
            property="remark" />

        <result
            column="deleted"
            property="deleted" />

        <result
            column="active_as_driver_self"
            property="active_as_driver_self" />

        <result
            column="limit_month_as_passenger_self"
            property="limit_month_as_passenger_self" />

        <result
            column="limit_month_as_driver_self"
            property="limit_month_as_driver_self" />

        <result
            column="limit_count_as_passenger_self"
            property="limit_count_as_passenger_self" />

        <result
            column="limit_count_as_driver_self"
            property="limit_count_as_driver_self" />

        <result
            column="ratio_as_passenger_self"
            property="ratio_as_passenger_self" />

        <result
            column="integer_as_passenger_self"
            property="integer_as_passenger_self" />

        <result
            column="active_as_passenger_self"
            property="active_as_passenger_self" />

        <result
            column="ratio_as_driver_self"
            property="ratio_as_driver_self" />

        <result
            column="integer_as_driver_self"
            property="integer_as_driver_self" />
    </resultMap>

    <select
        id="findAll_old"
        parameterType="long"
        resultMap="App_Spread_Unit_Info" >
		SELECT
			id,
			unit_id,
			name,
			date_format(create_date,'%Y-%m-%d') as create_date,
			linkname,
			linkphone,
			group_property,
			contract_no,
			fix_phone,
			email,
			fax,
			group_address,
			invite_code,
			deleted,
			remark,
			active_as_driver_self          ,   
			limit_month_as_passenger_self  ,   
			limit_month_as_driver_self     ,   
			limit_count_as_passenger_self  ,   
			limit_count_as_driver_self     ,   
			ratio_as_passenger_self        ,   
			integer_as_passenger_self      ,   
			active_as_passenger_self       ,   
			ratio_as_driver_self           ,   
			integer_as_driver_self           
			
		FROM
			app_spread_unit
    </select>

    <select
        id="getApp_Spread_UnitInfo"
        parameterType="long"
        resultMap="App_Spread_Unit_Info" >
		SELECT
			id,
			unit_id,
			name,
			date_format(create_date,'%Y-%m-%d') as create_date,
			linkname,
			linkphone,
			group_property,
			contract_no,
			fix_phone,
			email,
			fax,
			group_address,
			invite_code,
			deleted,
			remark,
			active_as_driver_self          ,   
			limit_month_as_passenger_self  ,   
			limit_month_as_driver_self     ,   
			limit_count_as_passenger_self  ,   
			limit_count_as_driver_self     ,   
			ratio_as_passenger_self        ,   
			integer_as_passenger_self      ,   
			active_as_passenger_self       ,   
			ratio_as_driver_self           ,   
			integer_as_driver_self           
			
		FROM
			app_spread_unit
		WHERE
			id=#{id} 
    </select>

    <update
        id="updateApp_Spread_UnitInfo"
        parameterType="java.util.Map" >
		update app_spread_unit

        <set>

            <if test="name != null" >
				name = #{name},
            </if>

            <if test="create_date != null" >
				create_date = #{create_date},
            </if>

            <if test="linkname != null" >
				linkname = #{linkname},
            </if>

            <if test="linkphone != null" >
				linkphone = #{linkphone},
            </if>

            <if test="group_property != null" >
				group_property = #{group_property},
            </if>

            <if test="contract_no != null" >
				contract_no = #{contract_no},
            </if>

            <if test="fix_phone != null" >
				fix_phone = #{fix_phone},
            </if>

            <if test="email != null" >
				email = #{email},
            </if>

            <if test="fax != null" >
				fax = #{fax},
            </if>

            <if test="group_address != null" >
				group_address = #{group_address},
            </if>

            <if test="remark != null" >
				remark = #{remark},
            </if>

            <if test="deleted != null" >
				deleted = #{deleted},
            </if>

            <if test="limit_month_as_passenger_self != null" >
				limit_month_as_passenger_self = #{limit_month_as_passenger_self},
            </if>

            <if test="limit_month_as_driver_self != null" >
				limit_month_as_driver_self = #{limit_month_as_driver_self},
            </if>

            <if test="limit_count_as_passenger_self != null" >
				limit_count_as_passenger_self = #{limit_count_as_passenger_self},
            </if>

            <if test="limit_count_as_driver_self != null" >
				limit_count_as_driver_self = #{limit_count_as_driver_self},
            </if>

            <if test="active_as_driver_self != null" >
				active_as_driver_self = #{active_as_driver_self},
            </if>

            <if test="integer_as_driver_self != null" >
				integer_as_driver_self = #{integer_as_driver_self},
            </if>

            <if test="ratio_as_driver_self != null" >
				ratio_as_driver_self = #{ratio_as_driver_self},
            </if>

            <if test="active_as_passenger_self != null" >
				active_as_passenger_self = #{active_as_passenger_self},
            </if>

            <if test="integer_as_passenger_self != null" >
				integer_as_passenger_self = #{integer_as_passenger_self},
            </if>

            <if test="ratio_as_passenger_self != null" >
				ratio_as_passenger_self = #{ratio_as_passenger_self}
            </if>
        </set>
		where id = #{id}
    </update>

    <!-- 新增合作单位客户 -->

    <insert
        id="saveApp_Spread_Unit"
        keyProperty="id"
        parameterType="java.util.Map"
        useGeneratedKeys="true" >

        <selectKey
            keyProperty="id"
            order="AFTER"
            resultType="java.lang.Long" >
        SELECT LAST_INSERT_ID() AS id
        </selectKey>
	  insert into
	  	 app_spread_unit 
		  	(name,
		  	 linkname,
		  	 linkphone,
		  	 group_property,
		  	 contract_no,
		  	 fix_phone,
		  	 email,
		  	 fax,
		 	 group_address,
		 	 create_date,
		 	 invite_code,
		 	 unit_id,
		 	 remark,
		 	 active_as_driver_self,   
			 limit_month_as_passenger_self,   
			 limit_month_as_driver_self,   
			 limit_count_as_passenger_self,   
			 limit_count_as_driver_self,   
			 ratio_as_passenger_self,   
			 integer_as_passenger_self,   
			 active_as_passenger_self,   
			 ratio_as_driver_self,   
			 integer_as_driver_self 
		 	 ) 
	  values 
		  	(#{name},
		  	 #{linkname},
		  	 #{linkphone},
		  	 #{group_property},
		  	 #{contract_no},
		  	 #{fix_phone},
		  	 #{email},
		  	 #{fax},
		  	 #{group_address},
		  	 #{create_date},
		  	 #{invite_code},
		  	 #{unit_id},
		  	 #{remark},
		  	 #{active_as_driver_self},   
			 #{limit_month_as_passenger_self},   
			 #{limit_month_as_driver_self},   
			 #{limit_count_as_passenger_self},   
			 #{limit_count_as_driver_self},   
			 #{ratio_as_passenger_self},   
			 #{integer_as_passenger_self},   
			 #{active_as_passenger_self},   
			 #{ratio_as_driver_self},   
			 #{integer_as_driver_self}
		  	 )
    </insert>

    <select
        id="getBalnace"
        parameterType="long"
        resultType="java.math.BigDecimal" >
	SELECT balance  FROM ts    WHERE  unitid= #{id} ORDER BY ts_date DESC LIMIT 1
    </select>

    <!-- 删除合作单位（将deleted字段置为1，方便日后查询历史信息） -->

    <update
        id="delApp_Spread_Unit"
        parameterType="long" >
		update 
			app_spread_unit 
		set 
			deleted=1 
		where 
			id=#{id}
    </update>

    <resultMap
        id="rebateInfo"
        type="java.util.Map" >

        <result
            column="id"
            property="id" />

        <result
            column="username"
            property="username" />

        <result
            column="rpcount"
            property="rpcount" />

        <result
            column="rpsum"
            property="rpsum" />

        <result
            column="reg_date"
            property="reg_date" />
    </resultMap>

    <!-- 根据邀请码获得使用该邀请码注册的所有用户的返利信息 -->

    <select
        id="getASUAllRebateListInfo"
        parameterType="java.util.Map"
        resultMap="rebateInfo" >
	SELECT 
		u.id as id,
		u.username as username,
		IFNULL((SELECT COUNT(*) FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE a.passenger=u.id AND b.ts_type=9),0)+
		IFNULL((SELECT COUNT(*) FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE a.driver=u.id AND b.ts_type=10),0) AS rpcount,
		IFNULL((SELECT SUM(b.sum) FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE a.passenger=u.id AND b.ts_type=9),0)+
		IFNULL((SELECT SUM(b.sum) FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE a.driver=u.id AND b.ts_type=10),0) AS rpsum,
		date_format(u.reg_date,'%Y-%m-%d %h:%m:%s') as reg_date
	FROM 
		user u 
	WHERE 
		u.invitecode_regist=(SELECT  asu.invite_code FROM  app_spread_unit asu WHERE asu.id = #{id})  
	ORDER BY  rpsum DESC ;
    </select>

    <resultMap
        id="rebateInfoDetails"
        type="java.util.Map" >

        <result
            column="id"
            property="id" />

        <result
            column="username"
            property="username" />

        <result
            column="order_cs_id"
            property="order_cs_id" />

        <result
            column="reg_date"
            property="reg_date" />

        <result
            column="identityStatus"
            property="identityStatus" />

        <result
            column="sum"
            property="sum" />
    </resultMap>

    <!-- 显示指定用户的具体返利信息 -->

    <select
        id="getASURebateListInfo"
        parameterType="Long"
        resultMap="rebateInfoDetails" >
	SELECT
		u.id as id, 
		u.username as username,
		t.order_cs_id as order_cs_id,
		date_format(t.ts_date,'%Y-%m-%d %h:%m:%s') as ts_date,
		CASE WHEN ts_type=17 THEN '乘客' WHEN ts_type=18 THEN '车主' END   identityStatus,
		t.sum as sum 
	FROM 
		ts t
	LEFT JOIN 
		user u
	ON 
		t.userid=u.id  
	WHERE 
		u.id = #{id};		
    </select>

    <insert
        id="insertTransactionDetail"
        keyProperty="id"
        parameterType="TransactionDetail"
        useGeneratedKeys="true" >
		insert into ts
		(order_cs_id,
		order_id,
		order_type,
		oper,
		ts_way,
		balance,
		ts_date,
		userid,
		groupid,
		unitid,
		remark,
		account,
		account_type,
		application,
		ts_type,
		sum,
		deleted	
		)
		values(
			0,
			0,
			4,
			2,
			4,
			#{balance},
			now(),
			#{userid},
			0,
			0,
			'游戏送',
			null,
			1,
			'other',
			'tx_code_016',
			#{sum},
			0		
		)
    </insert>
    <!-- 向ts表插入新信息 -->

    <insert
        id="modifytsbal"
        parameterType="java.util.Map" >

        <selectKey
            keyProperty="id"
            order="AFTER"
            resultType="java.lang.Long" >
        SELECT LAST_INSERT_ID() AS id
        </selectKey>
	    insert into ts (ts_date,unitid,remark,account_type,ts_type,balance) 
	    values          (now(),#{unitid},#{remark},#{account_type},#{ts_type},#{balance})
    </insert>

    <update
        id="seUnittsid"
        parameterType="java.util.Map" >
			UPDATE 
				app_spread_unit 
			SET 
				balance_ts=#{tsid}
			WHERE 
				id = #{id}
    </update>

</mapper>