<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinche.statistics.coupon.dao.SCouponMapper" >

    <resultMap
        id="SCouponResult"
        type="SCoupon" >

        <id
            column="id"
            property="id" />

        <result
            column="syscoupon_code"
            property="syscoupon_code" />

        <result
            column="sc_date"
            property="sc_date" />

        <result
            column="coupon_type"
            property="coupon_type" />

        <result
            column="limit"
            property="limit" />

        <result
            column="valid_period_unit"
            property="valid_period_unit" />

        <result
            column="valid_period"
            property="valid_period" />

        <result
            column="active_code"
            property="active_code" />

        <result
            column="limit_count"
            property="limit_count" />

        <result
            column="isenabled"
            property="isenabled" />

        <result
            column="deleted"
            property="deleted" />

        <result
            column="deploy_cnt"
            property="deployCount" />

        <result
            column="use_cnt"
            property="useCount" />

        <result
            column="date_used"
            property="used_date" />

        <result
            column="isused"
            property="isused" />
    </resultMap>

    <select
        id="viewDetail"
        parameterType="hashmap"
        resultMap="SCouponResult" >
		SELECT COUNT(*) isused, SUM(CASE WHEN `data`.isused=1 THEN 1 ELSE 0 END) use_cnt, SUM(TIMEDIFF(sc_date, date_used)) valid_period

        <if test="date_type == &apos;year&apos;" >
		, year(sc_date) valid_period_unit
        </if>

        <if test="date_type == &apos;quarter&apos;" >
		, quarter(sc_date) valid_period_unit
        </if>

        <if test="date_type == &apos;month&apos;" >
		, month(sc_date) valid_period_unit
        </if>

        <if test="date_type == &apos;week&apos;" >
		, week(sc_date) valid_period_unit
        </if>

        <if test="date_type == &apos;day&apos;" >
		, day(sc_date) valid_period_unit
        </if>

        <if test="date_type == &apos;hour&apos;" >
		, hour(sc_date) valid_period_unit
        </if>
		FROM(SELECT sic.isused, sic.date_used,  SC.sc_date, oec.order_type FROM sys_coupon AS SC
		LEFT JOIN single_coupon as sic ON sic.syscoupon_id=SC.id
		LEFT JOIN order_exec_cs as oec ON oec.id = sic.order_cs_id
		WHERE 1 AND SC.id=1

        <!-- SELECT sic.isused, sic.date_used,  SC.sc_date, oec.order_type FROM sys_coupon AS SC -->
        <!-- LEFT JOIN single_coupon as sic ON sic.syscoupon_id=SC.id -->
        <!-- LEFT JOIN order_exec_cs as oec ON oec.id = sic.order_cs_id -->
        <!-- WHERE 1 -->

        <if test="beginDate != null" >

            <if test="beginDate != &apos;&apos;" >
				AND date_format(SC.sc_date,"%Y-%m-%d") >= #{beginDate} 
            </if>
        </if>

        <if test="endDate != null" >

            <if test="endDate != &apos;&apos;" >
				AND  #{endDate} > date_format(SC.sc_date,"%Y-%m-%d")
            </if>
        </if>

        <if test="beginTime != null" >

            <if test="beginTime != &apos;&apos;" >
			AND date_format(SC.sc_date,"%T") >= #{beginTime}
            </if>
        </if>

        <if test="endTime != null" >

            <if test="endTime != &apos;&apos;" >
			AND  #{endTime} >= date_format(SC.sc_date,"%T")
            </if>
        </if>

        <if test="releaseChannel == 1" >
			AND  SC.release_channel = 1
        </if>

        <if test="releaseChannel == 2" >
			AND  SC.release_channel = 2
        </if>
		AND ( 0 

        <if test="noCondCash == 1" >
			OR (SC.goods_or_cash = 1 AND SC.coupon_type = 0) 
        </if>

        <if test="condCash == 1" >
			OR (SC.goods_or_cash = 1 AND SC.coupon_type != 0) 
        </if>

        <if test="good == 1" >
			OR (SC.goods_or_cash = 2) 
        </if>
		)

        <!-- AND ( 0 -->
        <!-- <if test="singlePinche == 1"> -->
        <!-- OR (oec.ordertype = 1) -->
        <!-- </if> -->
        <!-- <if test="dimPinche == 1"> -->
        <!-- OR (oec.ordertype = 2) -->
        <!-- </if> -->
        <!-- <if test="divPinche == 1"> -->
        <!-- OR (oec.ordertype = 3) -->
        <!-- </if> -->
        <!-- <if test="longPinche == 1"> -->
        <!-- OR (oec.ordertype = 4) -->
        <!-- </if> -->
        <!-- ) -->
 		AND SC.deleted=0 AND SC.id=#{selectedId}
        ORDER BY SC.id)data
        GROUP BY

        <if test="date_type == &apos;year&apos;" >
	        year(sc_date)
        </if>

        <if test="date_type == &apos;quarter&apos;" >
	        quarter(sc_date)
        </if>

        <if test="date_type == &apos;month&apos;" >
	        month(sc_date)
        </if>

        <if test="date_type == &apos;week&apos;" >
	        week(sc_date)
        </if>

        <if test="date_type == &apos;day&apos;" >
	        day(sc_date)
        </if>

        <if test="date_type == &apos;hour&apos;" >
	        hour(sc_date)
        </if>
 		ORDER BY sc_date

        <if test="isTotal == 1" >
	 		LIMIT #{page},#{rows}
        </if>
    </select>

</mapper>