<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmdy.financial.account.dao.AccountMapper" >

    <resultMap
        id="AccountResult"
        type="Account" >

        <id
            column="id"
            property="userid" />

        <result
            column="usercode"
            property="usercode" />

        <result
            column="username"
            property="username" />

        <result
            column="phone"
            property="userphone" />

        <result
            column="balance"
            property="ts_balance" />

        <result
            column="account"
            property="ts_account" />

        <result
            column="order_cs_id"
            property="ts_order_cs_id" />

        <result
            column="account_type"
            property="ts_account_type" />

        <result
            column="sum"
            property="ts_sum" />
    </resultMap>

    <resultMap
        id="AccountResult1"
        type="java.util.Map" >

        <id
            column="id"
            property="userid" />

        <result
            column="usercode"
            property="usercode" />

        <result
            column="username"
            property="username" />

        <result
            column="phone"
            property="userphone" />

        <result
            column="balance"
            property="balance" />

        <result
            column="account"
            property="ts_account" />

        <result
            column="order_cs_id"
            property="ts_order_cs_id" />

        <result
            column="account_type"
            property="user_type" />

        <result
            column="s"
            property="transaction" />

        <result
            column="tsid"
            property="ts_id" />

        <result
            column="fb"
            property="fb" />
    </resultMap>

    <resultMap
        id="usernames"
        type="java.util.Map" >

        <result
            column="username"
            property="username" />
    </resultMap>
    <!-- 订单选择数据表格加载 -->

    <resultMap
        id="orderResult"
        type="java.util.Map" >

        <result
            column="order_type"
            property="ordertype" />

        <result
            column="pname"
            property="pname" />

        <result
            column="pphone"
            property="pphone" />

        <result
            column="dname"
            property="dname" />

        <result
            column="dphone"
            property="dphone" />

        <result
            column="order_num"
            property="ordernum" />

        <result
            column="status"
            property="orderstatus" />

        <result
            column="order_cs_id"
            property="oid" />

        <result
            column="cr_date"
            property="cr_date" />

        <result
            column="ti_accept_order"
            property="ti_accept_order" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />

        <result
            column="driverarrival_time"
            property="driverarrival_time" />

        <result
            column="beginservice_time"
            property="beginservice_time" />

        <result
            column="stopservice_time"
            property="stopservice_time" />

        <result
            column="pay_time"
            property="pay_time" />

        <result
            column="pass_cancel_time"
            property="pass_cancel_time" />

        <result
            column="driver_cancel_time"
            property="driver_cancel_time" />

        <result
            column="passenger"
            property="passenger" />

        <result
            column="driver"
            property="driver" />

        <result
            column="id"
            property="ordercsid" />
    </resultMap>

    <!-- 详细订单 -->

    <resultMap
        id="orderexeccs"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="order_type"
            property="order_type" />

        <result
            column="passenger"
            property="passenger" />

        <result
            column="driver"
            property="driver" />

        <result
            column="from_"
            property="from_" />

        <result
            column="to_"
            property="to_" />

        <result
            column="average_price_platform"
            property="average_price_platform" />

        <result
            column="price"
            property="price" />

        <result
            column="pre_time"
            property="pre_time" />

        <result
            column="remark"
            property="remark" />

        <result
            column="driverarrival_time"
            property="driverarrival_time" />

        <result
            column="clientbeginservice_time"
            property="clientbeginservice_time" />

        <result
            column="clientend_time"
            property="clientend_time" />

        <result
            column="city_from"
            property="city_from" />

        <result
            column="city_to"
            property="city_to" />

        <result
            column="has_evaluation_passenger"
            property="has_evaluation_passenger" />

        <result
            column="has_evaluation_driver"
            property="has_evaluation_driver" />

        <result
            column="password"
            property="password" />

        <result
            column="begin_lat"
            property="begin_lat" />

        <result
            column="begin_lng"
            property="begin_lng" />

        <result
            column="end_lat"
            property="end_lat" />

        <result
            column="end_lng"
            property="end_lng" />

        <result
            column="freeze_points"
            property="freeze_points" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />

        <result
            column="total_distance"
            property="total_distance" />

        <result
            column="order_city"
            property="order_city" />

        <result
            column="status"
            property="status" />

        <result
            column="deleted"
            property="deleted" />

        <result
            column="cr_date"
            property="cr_date" />

        <result
            column="ti_accept_order"
            property="ti_accept_order" />

        <result
            column="beginservice_time"
            property="beginservice_time" />

        <result
            column="stopservice_time"
            property="stopservice_time" />

        <result
            column="pay_time"
            property="pay_time" />

        <result
            column="pass_cancel_time"
            property="pass_cancel_time" />

        <result
            column="driver_cancel_time"
            property="driver_cancel_time" />

        <result
            column="order_num"
            property="order_num" />
    </resultMap>

    <resultMap
        id="MidPoints"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="order_type"
            property="order_type" />

        <result
            column="orderid"
            property="orderid" />

        <result
            column="index"
            property="index" />

        <result
            column="lat"
            property="lat" />

        <result
            column="lng"
            property="lng" />

        <result
            column="addr"
            property="addr" />

        <result
            column="deleted"
            property="deleted" />
    </resultMap>
    <!-- 乘客电话等信息查询 -->

    <resultMap
        id="userinfo"
        type="java.util.Map" >

        <result
            column="username"
            property="name" />

        <result
            column="phone"
            property="phone" />

        <result
            column="remark"
            property="remark" />
    </resultMap>

    <resultMap
        id="ordernuminfo"
        type="java.util.Map" >

        <result
            column="order_num"
            property="ordernum" />
    </resultMap>

    <!-- 查看详情 -->

    <resultMap
        id="user"
        type="java.util.Map" >

        <id
            column="id"
            property="ts_id" />

        <result
            column="order_cs_id"
            property="order_cs_id" />

        <result
            column="user_id"
            property="userid" />

        <result
            column="ts_date"
            property="date" />

        <result
            column="req_source"
            property="req_source" />

        <result
            column="oper"
            property="oper" />

        <result
            column="ts_type"
            property="ts_type" />

        <result
            column="sum"
            property="sum" />

        <result
            column="balance"
            property="balance" />

        <result
            column="remark"
            property="remark" />

        <result
            column="userid"
            property="userid" />

        <result
            column="account_type"
            property="account_type" />

        <result
            column="remark"
            property="remark" />
    </resultMap>

    <!-- 上下班班订单 特别部分 -->

    <resultMap
        id="onoff"
        type="java.util.Map" >

        <result
            column="order_cs_id"
            property="onoff_order_id" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />
    </resultMap>

    <resultMap
        id="style"
        type="java.util.Map" >

        <result
            column="reqcarstyle"
            property="reqcarstyle" />
    </resultMap>

    <resultMap
        id="which_days"
        type="java.util.Map" >

        <result
            column="which_days"
            property="which_days" />
    </resultMap>
    <!-- 长途订单 特别部分 -->

    <resultMap
        id="long"
        type="java.util.Map" >

        <result
            column="order_exec_cs_id"
            property="long_order_id" />

        <result
            column="username"
            property="passengername" />
    </resultMap>
    <!-- 订单数据表格 -->

    <select
        id="findorder"
        parameterType="java.util.Map"
        resultMap="orderResult" >
select * from (select tb1.*,u1.username as dname,u1.phone as dphone from (SELECT oec.*,u.username AS pname,u.phone AS pphone
FROM order_exec_cs oec
LEFT JOIN user u ON oec.passenger = u.id
) tb1
LEFT JOIN user u1 ON tb1.driver= u1.id where (passenger=#{uid} or driver=#{uid}) AND order_type IN  (#{ordertype1},#{ordertype2},#{ordertype3},#{ordertype4})) tb2 


        <if test="type==1" >
			    where passenger=#{uid} 

        </if>

        <if test="type==2" >
			    where driver=#{uid} 

        </if>

        <if test="type==3" >
			    where (passenger=#{uid} or driver =#{uid}) 

        </if>
  and 
status in (#{orderstatus1},#{orderstatus2},#{orderstatus3},#{orderstatus4},#{orderstatus5},#{orderstatus6},#{orderstatus7},#{orderstatus8},#{orderstatus9})	    


        <if test="null != begintime and &apos;&apos; != begintime and null != endtime and &apos;&apos; != endtime" >
	        and  ti_accept_order between #{begintime} and #{endtime}

        </if>

        <if test="null != ordernum and &apos;&apos;!=ordernum" >
	       and  id = #{ordernum}

        </if>

        <if test="null != ousername and &apos;&apos;!= ousername" >
	        and  (pname=#{ousername} or dname =#{ousername})

        </if>
        order by ti_accept_order desc
	     LIMIT #{start},#{limit} ;

    </select>

    <select
        id="findusername"
        parameterType="int"
        resultMap="usernames" >
	select username from user where id =#{userid}

    </select>

    <select
        id="findgroupname"
        parameterType="int"
        resultMap="usernames" >
	select group_name as username from group_ where id =#{userid}

    </select>

    <select
        id="findunitname"
        parameterType="int"
        resultMap="usernames" >
	select name as username from app_spread_unit user where id =#{userid}

    </select>
    <!-- 充值或者扣点执行插入数据操作 -->

    <insert id="addcharge" >
	    insert into req_oper_account (account_type,user_id,sum,oper,order_cs_id,req_cause,req_source,remark,req_date,ts_id) 
	    values(#{account_type},#{user_id},#{sum},#{oper},#{order_cs_id},#{req_cause},3,#{remark},now(),#{tsid})

    </insert>
    <!--
详细订单查询（暂时用不到了）
	<select id="findone" resultMap="orderexeccs" parameterType="int">
		SELECT * FROM order_exec_cs WHERE id=#{id} AND deleted=0
	</select>
	<select id="findMidPoints" resultMap="MidPoints" parameterType="java.util.Map">
		SELECT * FROM midpoints WHERE deleted = 0 AND orderid = #{orderid}
	</select>	
	<select id="finduser" resultMap="userinfo" parameterType="long">
		select username,phone,remark from user where deleted=0 and id = #{id}
	</select>	
	<select id="findtemp" resultMap="ordernuminfo" parameterType="int">
		select order_num from order_temp_details where order_cs_id =#{id}
	</select>
	<select id="findonoff" resultMap="ordernuminfo" parameterType="int">
		SELECT order_num
FROM order_onoffduty_details
WHERE id = (
SELECT orderdetails_id
FROM order_onoffduty_divide
WHERE driver_id=(
SELECT onoffduty_divide_id
FROM order_onoffduty_exec_details
WHERE order_cs_id=#{id}))
	</select>
	<select id="showonoff" resultMap="onoff" parameterType="String">
SELECT order_cs_id,date_format(oec.begin_exec_time,'%Y年%m月%d日') as begin_exec_time
FROM order_onoffduty_exec_details ooed
LEFT JOIN order_exec_cs oec ON
ooed.order_cs_id = oec.id
WHERE ooed.onoffduty_divide_id=(
SELECT id
FROM order_onoffduty_divide
WHERE orderdetails_id= (
SELECT id
FROM order_onoffduty_details
WHERE order_num = #{xxx}))
	</select>

    -->
    <!--
需求车型
	<select id="carstyle" resultMap="style" parameterType="String">

SELECT reqcarstyle
FROM order_onoffduty_details
WHERE order_num = #{aaa}
	</select>
    -->


    <!--
	<select id="findday" resultMap="which_days" parameterType="String">
SELECT which_days
FROM order_onoffduty_divide
WHERE orderdetails_id=(
SELECT id
FROM order_onoffduty_details
WHERE order_num =#{sss})
	</select>
	<select id="findlong" resultMap="ordernuminfo" parameterType="int">
		SELECT order_num
FROM order_longdistance_details
WHERE id=(
SELECT orderdriverlongdistance_id
FROM order_longdistance_users_cs
WHERE order_exec_cs_id = #{id})
	</select>
	<select id="showlong" resultMap="long" parameterType="String">
SELECT order_exec_cs_id,u.username
FROM order_longdistance_users_cs olus
LEFT JOIN user u ON olus.userid=u.id
WHERE orderdriverlongdistance_id =(
SELECT id
FROM order_longdistance_details
WHERE order_num = #{bbb})	
	</select>

    -->
    <!-- 查询订单 总数 -->

    <select
        id="getOrderCount"
        parameterType="java.util.Map"
        resultType="int" >
	     select count(*) from (select tb1.*,u1.username as dname,u1.phone as dphone from (SELECT oec.*,u.username AS pname,u.phone AS pphone
FROM order_exec_cs oec
LEFT JOIN user u ON oec.passenger = u.id
) tb1
LEFT JOIN user u1 ON tb1.driver= u1.id where (passenger=#{uid} or driver=#{uid}) AND order_type IN  (#{ordertype1},#{ordertype2},#{ordertype3},#{ordertype4}) ) tb2 


        <if test="type==1" >
			    where passenger=#{uid} 

        </if>

        <if test="type==2" >
			    where driver=#{uid} 

        </if>

        <if test="type==3" >
			    where (passenger=#{uid} or driver =#{uid})

        </if>
 and 
  status in (#{orderstatus1},#{orderstatus2},#{orderstatus3},#{orderstatus4},#{orderstatus5},#{orderstatus6},#{orderstatus7},#{orderstatus8},#{orderstatus9})	    


        <if test="null != begintime and &apos;&apos; != begintime and null != endtime and &apos;&apos; != endtime" >
	        and  ti_accept_order between #{begintime} and #{endtime}

        </if>

        <if test="null != ordernum and &apos;&apos;!=ordernum" >
	       and  id = #{ordernum}

        </if>

        <if test="null != ousername and &apos;&apos;!= ousername" >
	        and  (pname=#{ousername} or dname =#{ousername})

        </if>
    </select>
    <!-- 页面加载查询方法 -->

    <select
        id="search1"
        parameterType="java.util.Map"
        resultMap="AccountResult1" >
select * from (select e.s,fp.fb,u.id, t.deleted,u.usercode, u.username, u.phone,ifnull(t.account_type,1)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance from ( user u
LEFT JOIN (select * from req_oper_account where account_type=1 )t ON u.id = t.user_id)
LEFT JOIN (
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=1
GROUP BY user_id)e ON e.u=u.id
left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
   group by id
   union all 
  select e.s,fp.fb,u.id, t.deleted,u.group_name as usercode, u.group_name as username, u.fix_phone as phone,ifnull(t.account_type,2)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance  from  group_ u
LEFT JOIN (select * from req_oper_account where account_type=2)t ON u.id = t.user_id
LEFT JOIN
(
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=2
GROUP BY user_id)e ON e.u=u.id left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
 group by u.id
 
 union all
 
 select e.s,fp.fb,u.id, t.deleted,u.name as usercode, u.name as username, u.fix_phone as phone ,ifnull(t.account_type,3)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance  from  app_spread_unit u
LEFT JOIN (select * from req_oper_account where account_type=3)t ON u.id = t.user_id
LEFT JOIN
(
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=3
GROUP BY user_id)e ON e.u=u.id left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
 group by u.id)tb2 where 1=1		

        <!-- 个人客户 -->

       <if test="khinfo==1">
			and id like '%${xianginput}%'
        </if>

        <if test="khinfo==2" >
			and usercode like '%${xianginput}%'
        </if>

        <if test="khinfo==3" >
			and username like '%${xianginput}%'
        </if>
        <if test="khinfo==4" >
			and phone like '%${xianginput}%'
        </if>
        <if test="khtype!=0">
			and account_type=#{khtype}
        </if>
         <if test="start!=null">
 			LIMIT #{start},#{limit} 
  	   </if>

    </select>
    <!-- 页面加载总数查询 -->

    <select
        id="getcountsearch1"
        parameterType="java.util.Map"
        resultType="int" >
			select count(*) from (select e.s,fp.fb,u.id, t.deleted,u.usercode, u.username, u.phone,ifnull(t.account_type,1)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance from ( user u
LEFT JOIN (select * from req_oper_account where account_type=1 )t ON u.id = t.user_id)
LEFT JOIN (
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=1
GROUP BY user_id)e ON e.u=u.id
left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
   group by id
   union all 
  select e.s,fp.fb,u.id, t.deleted,u.group_name as usercode, u.group_name as username, u.fix_phone as phone,ifnull(t.account_type,2)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance  from  group_ u
LEFT JOIN (select * from req_oper_account where account_type=2)t ON u.id = t.user_id
LEFT JOIN
(
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=2
GROUP BY user_id)e ON e.u=u.id left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
 group by u.id
 
 union all
 
 select e.s,fp.fb,u.id, t.deleted,u.name as usercode, u.name as username, u.fix_phone as phone ,ifnull(t.account_type,3)as account_type,t.ts_id,u.balance_ts as tsid,
				t1.balance  from  app_spread_unit u
LEFT JOIN (select * from req_oper_account where account_type=3)t ON u.id = t.user_id
LEFT JOIN
(
SELECT SUM(SUM) AS s,user_id AS u
FROM req_oper_account
WHERE STATUS = 1 and account_type=3
GROUP BY user_id)e ON e.u=u.id left JOIN ts t1 ON u.balance_ts = t1.id LEFT JOIN (select sum(balance) as fb,userid from freeze_points where state=0 group by userid) fp ON fp.userid= u.id
 group by u.id)tb2 where 1=1

        <!-- 个人客户 -->

      <if test="khinfo==1">
			and id like '%${xianginput}%'
        </if>

        <if test="khinfo==2" >
			and usercode like '%${xianginput}%'
        </if>

        <if test="khinfo==3" >
			and username like '%${xianginput}%'
        </if>
        <if test="khinfo==4" >
			and phone like '%${xianginput}%'
        </if>
        <if test="khtype!=0">
			and account_type=#{khtype}
        </if>
        
    </select>
    <!-- 详细订单查询 -->

    <select
        id="finduserinfo"
        parameterType="java.util.Map"
        resultMap="user" >
select * from (SELECT t.balance,t.ts_type,r.user_id,r.account_type,r.order_cs_id,r.ts_id,date_format(r.audit_date,'%Y年%m月%d日') as ts_date,r.req_source,r.oper,r.SUM,r.remark
FROM (req_oper_account r left join ts t on r.ts_id = t.id)
WHERE r.deleted=0 AND   r.user_id=#{userid} and r.account_type=#{accounttype}
     <if test="null!=begin" >
			and r.audit_date > #{begin} 

        </if>
        <if test="null!=end" >
			and #{end} >r.audit_date

        </if>
union all
 SELECT t.balance,t.ts_type,r.user_id,r.account_type,r.order_cs_id,r.ts_id,date_format(r.audit_date,'%Y年%m月%d日') as ts_date,r.req_source,r.oper,r.SUM,r.remark
FROM (req_client_account r left join ts t on r.ts_id = t.id)
WHERE r.deleted=0 AND   r.user_id=#{userid} and r.account_type=#{accounttype}
 <if test="null!=begin" >
			and r.audit_date > #{begin} 

        </if>
        <if test="null!=end" >
			and #{end} >r.audit_date

        </if>

)a where 1=1
       


        

        <if test="order_cs_id>0" >
			and a.order_cs_id=#{order_cs_id}

        </if>

        <if test="id>0" >
			and a.ts_id=#{id}

        </if>

        <if test="null!=ts_type" >
			and a.ts_type =#{ts_type}		

        </if>

        <if test="oper2==0 and oper1==1" >
			and a.oper=2

        </if>

        <if test="oper1==0 and oper2==2" >
			and a.oper=1

        </if>

        <if test="oper1==1 and oper2==2" >
			and a.oper in (1,2)

        </if>
        order by ts_date desc
		 LIMIT #{start},#{limit} ;

    </select>
    <!-- 详细订单总数查询 -->

    <select
        id="countuserinfo"
        parameterType="java.util.Map"
        resultType="int" >
select count(*)from (SELECT t.balance,t.ts_type,r.user_id,r.account_type,r.order_cs_id,r.ts_id,date_format(r.audit_date,'%Y年%m月%d日') as ts_date,r.req_source,r.oper,r.SUM,r.remark
FROM (req_oper_account r left join ts t on r.ts_id = t.id)
WHERE r.deleted=0 AND   r.user_id=#{userid} and r.account_type=#{accounttype}
     <if test="null!=begin" >
			and r.audit_date > #{begin} 

        </if>
        <if test="null!=end" >
			and #{end} >r.audit_date

        </if>
union all
 SELECT t.balance,t.ts_type,r.user_id,r.account_type,r.order_cs_id,r.ts_id,date_format(r.audit_date,'%Y年%m月%d日') as ts_date,r.req_source,r.oper,r.SUM,r.remark
FROM (req_client_account r left join ts t on r.ts_id = t.id)
WHERE r.deleted=0 AND   r.user_id=#{userid} and r.account_type=#{accounttype}
     <if test="null!=begin" >
			and r.audit_date > #{begin} 

        </if>
        <if test="null!=end" >
			and #{end} >r.audit_date

        </if>

)a where 1=1

   <if test="null!=begin" >
			and a.ts_date > #{begin} 

        </if>
        <if test="null!=end" >
			and #{end} > a.ts_date

        </if>

        <if test="order_cs_id>0" >
			and a.order_cs_id=#{order_cs_id}

        </if>

        <if test="id>0" >
			and a.ts_id=#{id}

        </if>

        <if test="null!=ts_type" >
			and a.ts_type =#{ts_type}		

        </if>

        <if test="oper2==0 and oper1==1" >
			and a.oper=2

        </if>

        <if test="oper1==0 and oper2==2" >
			and a.oper=1

        </if>

        <if test="oper1==1 and oper2==2" >
			and a.oper in (1,2)

        </if>
    </select>

</mapper>