<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmdy.customerManage.user.dao.UserNewMapper">

	<!-- 客户基本信息+身份认证信息+车主信息+返利信息的查询结果集 -->

	<resultMap id="USER_All_Info" type="java.util.Map">

		<id column="id" property="id" />

		<result column="usercode" property="usercode" />

		<result column="nickname" property="nickname" />

		<result column="username" property="username" />

		<result column="phone" property="phone" />

		<result column="sex" property="sex" />

		<result column="img" property="img" />

		<result column="remark" property="remark" />

		<result column="group_name" property="group_name" />

		<result column="nation" property="nation" />

		<result column="birthday" property="birthday" />
		<!-- <result property="birthday" column="birthday" javaType="java.util.Date" 
			jdbcType="DATE"/> -->

		<result column="id_card_num" property="id_card_num" />

		<result column="id_card1" property="id_card1" />

		<result column="id_card2" property="id_card2" />

		<result column="drivinglicence_num" property="drivinglicence_num" />

		<result column="drlicence_ti" property="drlicence_ti" />
		<!-- <result property="drlicence_ti" column="drlicence_ti" javaType="java.util.Date" 
			jdbcType="DATE"/> -->

		<result column="invitecode_self" property="invitecode_self" />

		<result column="active_as_driver_self" property="active_as_driver_self" />

		<result column="limit_month_as_passenger_self" property="limit_month_as_passenger_self" />

		<result column="limit_month_as_driver_self" property="limit_month_as_driver_self" />

		<result column="limit_count_as_passenger_self" property="limit_count_as_passenger_self" />

		<result column="limit_count_as_driver_self" property="limit_count_as_driver_self" />

		<result column="ratio_as_passenger_self" property="ratio_as_passenger_self" />

		<result column="integer_as_passenger_self" property="integer_as_passenger_self" />

		<result column="active_as_passenger_self" property="active_as_passenger_self" />

		<result column="ratio_as_driver_self" property="ratio_as_driver_self" />

		<result column="integer_as_driver_self" property="integer_as_driver_self" />

		<result column="integer_as_driver" property="integer_as_driver" />

		<result column="activeway_as_driver" property="activeway_as_driver" />

		<result column="ratio_as_driver" property="ratio_as_driver" />

		<result column="person_verified" property="person_verified" />

		<result column="driver_verified" property="driver_verified" />

		<result column="brand" property="brand" />

		<result column="style" property="style" />

		<result column="color" property="color" />

		<result column="plate_num" property="plate_num" />

		<result column="plate_num_last3" property="plate_num_last3" />

		<result column="eno" property="eno" />

		<result column="vin" property="vin" />

		<result column="vehicle_owner" property="vehicle_owner" />

		<result column="is_oper_vehicle" property="is_oper_vehicle" />

		<result column="car_img" property="car_img" />

		<result column="driver_license1" property="driver_license1" />

		<result column="driver_license2" property="driver_license2" />

		<result column="driving_license1" property="driving_license1" />

		<result column="driving_license2" property="driving_license2" />

		<result column="car_img" property="car_img" />

		<result column="uc_id" property="uc_id" />

		<result column="car_type_id" property="car_type_id" />
		
		<result column="driver_level" property="driver_level" />
	</resultMap>


	<!-- 客户基本信息+身份认证信息+车主信息+返利信息的查询结果集 -->
	<resultMap id="USER_All_Info1" type="User">
		<id column="id" property="id" />
	</resultMap>
	
	<!-- 客户基本信息+身份认证信息+车主信息+返利信息 -->

	<select id="getUserAllInfo" parameterType="long" resultMap="USER_All_Info">
		SELECT
		u.id as id,
		u.usercode as usercode,
		u.nickname as nickname,
		u.username as
		username,
		u.phone as phone,
		u.sex as sex,
		u.img as img,
		u.remark as
		remark,
		u.nation as nation,
		date_format(u.birthday,'%Y-%m-%d') as birthday,
		u.id_card_num as id_card_num,
		u.address as address,
		u.id_card1 as id_card1,
		u.id_card2 as id_card2,
		u.drivinglicence_num as drivinglicence_num,
		date_format(u.drlicence_ti,'%Y-%m-%d') as drlicence_ti,
		u.invitecode_self as invitecode_self,
		u.active_as_driver_self as active_as_driver_self ,
		u.limit_month_as_passenger_self as limit_month_as_passenger_self ,
		u.limit_month_as_driver_self as limit_month_as_driver_self ,
		u.limit_count_as_passenger_self as limit_count_as_passenger_self ,
		u.limit_count_as_driver_self as limit_count_as_driver_self ,
		u.ratio_as_passenger_self as ratio_as_passenger_self ,
		u.integer_as_passenger_self as integer_as_passenger_self ,
		u.active_as_passenger_self as active_as_passenger_self ,
		u.ratio_as_driver_self as ratio_as_driver_self ,
		u.integer_as_driver_self as integer_as_driver_self ,
		u.integer_as_driver as integer_as_driver,
		u.activeway_as_driver as activeway_as_driver,
		u.ratio_as_driver as ratio_as_driver,
		u.person_verified as person_verified,
		u.driver_verified as driver_verified,
		<!-- 车辆品牌和型号有car_type表中查出 uc.brand as brand, uc.style as style, -->
		ct.brand AS brand,
		ct.car_style AS car_style,
		uc.color as color,
		uc.plate_num as plate_num,
		uc.plate_num_last3 as plate_num_last3,
		uc.vin as vin,
		uc.eno as eno,
		uc.is_oper_vehicle as is_oper_vehicle,
		uc.car_img as car_img,
		uc.vehicle_owner as vehicle_owner,
		uc.car_type_id as car_type_id,
		u.driver_license1 as driver_license1,
		u.driver_license2 as driver_license2,
		u.driving_license1 as driving_license1,
		u.driving_license2 as driving_license2,
	    u.driver_level, 
		uc.id as uc_id
		FROM
		user u
		LEFT OUTER JOIN user_car uc ON u.id=uc.userid
		LEFT JOIN car_type ct
		ON uc.car_type_id = ct.id

		WHERE
		u.id=#{id}
	</select>

	<!-- 常用的查询字段 -->

	<sql id="Base_Column_List">
		ID, USERCODE, USERNAME, PHONE,
		PERSON_VERIFIED,DRIVER_VERIFIED	</sql>

	<!-- 常用的查询结果集 -->
	<resultMap id="UserForGameMap" type="User">
		<id property="id" column="id" />
		<result property="usercode" column="usercode" />
		<result property="username" column="username" />
		<result property="phone" column="phone" />
	</resultMap>

	<!-- 按照ID，用户名，姓名，电话 四种条件查询 -->
	<select id="findUsersByConditionForGame" parameterType="java.util.Map"
		resultMap="UserForGameMap">
		select * from user where 1=1
		<if test="usercode != null">
			and usercode LIKE '%${usercode}%'
		</if>
		<if test="username != null">
			and username LIKE '%${username}%'
		</if>
		<if test="id != null">
			and id LIKE '%${id}%'
		</if>
		<if test="phone != null">
			and phone LIKE '%${phone}%'
		</if>
	</select>


	<!-- 常用的查询结果集 -->
	<resultMap id="Base_Column_List_Type" type="java.util.Map">
		<id column="id" property="id" />
		<result column="usercode" property="usercode" />
		<result column="username" property="username" />
		<result column="phone" property="phone" />
		<result column="person_verified" property="person_verified" />
		<result column="driver_verified" property="driver_verified" />
		<result column="group_name" property="group_name" />
		<result column="car_type_id" property="car_type_id" />
		<result column="username_regist" property="username_regist" />
		<result column="phone_regist" property="phone_regist" />
		<result column="nickname" property="nickname" />
		<result column="nickname_regist" property="nickname_regist" />
		
		
	</resultMap>

	<!-- 按照ID，用户名，姓名，电话 四种条件查询 -->
	<select id="listByBatchUserIds" parameterType="java.util.List"
		resultMap="UserForGameMap">
		select * from user where id in (

		<foreach collection="list" index="index" item="item"
			separator=",">
			#{item}
		</foreach>
		)
		<!-- select * from user where id in -->
		<!-- <foreach collection="array" index="index" item="item" open="(" separator="," 
			close=")"> -->
		<!-- #{item} -->
		<!-- </foreach> -->
	</select>

	<!-- 批量插入资源关系表 -->

	<insert id="addGroupBatch" parameterType="java.util.List"
		useGeneratedKeys="true">
		insert into role_data_org_rel_zyl (role_data_id,group_id)
		values

		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.roleId},#{item.groupId})
		</foreach>
	</insert>
	<!-- 按照ID，用户名，姓名，电话 四种条件查询 -->

	<select id="findUsersByCondition" parameterType="java.util.Map"
		resultMap="Base_Column_List_Type">
		select
		u.id,
		u.usercode,
		u.username,
		u.phone,
		u.nickname,
    	dd.username as username_regist,
	    dd.phone as phone_regist,
	    dd.nickname as nickname_regist,
		CASE WHEN u.person_verified=0 THEN '未认证' WHEN
		u.person_verified=1 THEN '已认证' ELSE '待认证' END person_verified ,
		CASE
		WHEN u.driver_verified=0 THEN '未认证' WHEN u.driver_verified=1 THEN
		'已认证' ELSE '待认证' END driver_verified ,
		(SELECT
		group_name
		FROM
		group_ WHERE groupid = (SELECT groupid FROM group_details WHERE userid =
		u.id)) AS group_name,
		uc.car_type_id AS car_type_id,
        u.driver_level as driver_level,
        date_format(u.reg_date,'%Y-%m-%d') as reg_date,
        u.channel_flag as channel_flag  
		from user u LEFT
		JOIN user_car uc ON u.id = uc.userid
	  left join user dd on u.invitecode_regist = dd.invitecode_self

		<where>

			<if
				test="conditionSelect != null and conditionSelect == &apos;usercode&apos; and conditionInput != null">

				<!-- usercode = #{conditionInput} -->
				u.usercode LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;username&apos; and conditionInput != null">

				<!-- username = #{conditionInput} -->
				u.username LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;id&apos; and conditionInput != null">

				<!-- id = #{conditionInput} -->
				u.id LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;phone&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				u.phone LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="conditionSelect != null and conditionSelect == &apos;all&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				u.usercode LIKE '%${conditionInput}%' or u.username LIKE '%${conditionInput}%' or u.phone LIKE '%${conditionInput}%' or u.id LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;person_verified&apos; ">
				AND u.person_verified = 2
			</if>

			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;driver_verified&apos; ">
				AND u.driver_verified = 2
			</if>
		</where>
		<if test="status==0">
		order by id
		</if>
		<if test="status==1">
		order by nickname_regist
		</if>
		LIMIT #{start},#{limit} ;
	</select>

	<!-- 获得条件查询的总记录数 -->

	<select id="getCountByCondition" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from user

		<where>

			<if
				test="conditionSelect != null and conditionSelect == &apos;usercode&apos; and conditionInput != null">

				<!-- usercode = #{conditionInput} -->
				usercode LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;username&apos; and conditionInput != null">

				<!-- username = #{conditionInput} -->
				username LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;id&apos; and conditionInput != null">

				<!-- id = #{conditionInput} -->
				id LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;phone&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				phone LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="conditionSelect != null and conditionSelect == &apos;all&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				usercode LIKE '%${conditionInput}%' or username LIKE '%${conditionInput}%' or phone LIKE '%${conditionInput}%' or id LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;person_verified&apos; ">
				AND person_verified = 2
			</if>

			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;driver_verified&apos; ">
				AND driver_verified = 2
			</if>
		</where>
	</select>

	<!-- 客户基本信息字段 -->

	<sql id="User_Base_Column_List">
		ID, USERCODE, USERNAME,
		NICKNAME,PHONE, SEX, IMG,REMARK
	</sql>
	<!-- 客户的查询结果集 -->

	<resultMap id="USER_Base_Column_List_Type" type="java.util.Map">

		<id column="ID" property="id" />

		<result column="USERCODE" property="usercode" />

		<result column="USERNAME" property="username" />

		<result column="NICKNAME" property="nickname" />

		<result column="PHONE" property="phone" />

		<result column="SEX" property="sex" />

		<result column="IMG" property="img" />

		<result column="REMARK" property="remark" />
	</resultMap>

	<!-- 身份认证查询结果集 -->

	<resultMap id="Person_Verified_Info" type="java.util.Map">

		<result column="id" property="id" />

		<result column="usercode" property="usercode" />

		<result column="username" property="username" />

		<result column="sex" property="sex" />

		<result column="nation" property="nation" />

		<result column="birthday" property="birthday" />

		<result column="id_card_num" property="id_card_num" />

		<result column="address" property="address" />

		<result column="id_card1" property="id_card1" />

		<result column="id_card2" property="id_card2" />
	</resultMap>

	<!-- 显示个人认证信息 -->
	<!-- <select id="showPersonVerifiedInfo" parameterType="Long" resultType="User"> 
		select id,usercode,username,sex,nation, birthday, id_card_num,address,id_card1,id_card2 
		from user where id = #{id} </select> -->

	<select id="getPersonVerifiedInfo" parameterType="long"
		resultMap="Person_Verified_Info">
		select
		id,usercode,username,sex,nation,
		date_format(birthday,'%Y-%m-%d') as birthday,
		address,id_card_num,id_card1,id_card2
		from
		user
		where
		id = #{id}
	</select>

	<!-- 车主认证查询结果集 -->

	<resultMap id="Driver_Verified_Info" type="java.util.Map">

		<result column="id" property="id" />

		<result column="usercode" property="usercode" />

		<result column="username" property="username" />

		<result column="drivinglicence_num" property="drivinglicence_num" />

		<result column="drlicence_ti" property="drlicence_ti" />
		<!-- <result property="drlicence_ti" column="drlicence_ti" javaType="java.util.Date" 
			jdbcType="DATE"/> -->

		<result column="brand" property="brand" />

		<result column="style" property="style" />

		<result column="color" property="color" />

		<result column="plate_num" property="plate_num" />

		<result column="eno" property="eno" />

		<result column="vin" property="vin" />

		<result column="vehicle_owner" property="vehicle_owner" />

		<result column="is_oper_vehicle" property="is_oper_vehicle" />

		<result column="driver_license1" property="driver_license1" />

		<result column="driver_license2" property="driver_license2" />

		<result column="driving_license1" property="driving_license1" />

		<result column="driving_license2" property="driving_license2" />

		<result column="car_img" property="car_img" />

		<result column="uc_id" property="uc_id" />
	</resultMap>

	<select id="getDriverVerifiedInfo" parameterType="long"
		resultMap="Driver_Verified_Info">
		SELECT
		u.id as id,
		u.usercode as usercode,
		u.username as username,
		u.drivinglicence_num as drivinglicence_num,
		date_format(u.drlicence_ti,'%Y-%m-%d') as drlicence_ti,
		ct.brand as brand,
		ct.car_style as style,
		uc.color as color,
		uc.plate_num as plate_num,
		uc.vin as vin,
		uc.eno as eno,
		uc.is_oper_vehicle as is_oper_vehicle,
		uc.car_img as car_img,
		uc.vehicle_owner as vehicle_owner,
		u.driver_license1 as driver_license1,
		u.driver_license2 as driver_license2,
		u.driving_license1 as driving_license1,
		u.driving_license2 as driving_license2,
		uc.id as uc_id
		FROM
		user u
		LEFT OUTER JOIN user_car uc ON u.id=uc.userid
		LEFT JOIN car_type ct
		ON uc.car_type_id = ct.id
		WHERE
		u.id=#{id}
	</select>

	<!-- 个人身份认证通过 -->

	<update id="personVerified" parameterType="java.util.Map">
		update
		user

		<set>

			<if test="username != null">
				username = #{username},
			</if>

			<if test="sex != null">
				sex = #{sex},
			</if>

			<if test="nation != null">
				nation = #{nation},
			</if>

			<if test="birthday != null">
				birthday = #{birthday},
			</if>

			<if test="address != null">
				address = #{address},
			</if>

			<if test="id_card_num != null">
				id_card_num = #{id_card_num}
			</if>
		</set>
		, person_verified = 1 where id = #{id}
	</update>
	<!-- 个人身份认证驳回 -->

	<update id="personVerifiedRejected" parameterType="long">
		update
		user set person_verified = 0 where id = #{id}
	</update>

	<!-- 车主认证通过 -->

	<update id="driverVerified" parameterType="java.util.Map">
		update
		user

		<set>

			<if test="drivinglicence_num != null">
				drivinglicence_num =
				#{drivinglicence_num},
			</if>

			<if test="drlicence_ti != null">
				drlicence_ti = #{drlicence_ti},
			</if>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="id_card_num != null">
				id_card_num = #{id_card_num}
			</if>
		</set>
		, driver_verified = 1 where id = #{id}
	</update>
	<!-- 车主认证驳回 -->

	<update id="driverVerifiedRejected" parameterType="long">
		update
		user set driver_verified = 0 where id = #{id}
	</update>

	<!-- 车主信息认证字段 -->

	<sql id="Driver_Verified_Column_List">
		ID, USERCODE, USERNAME,
		PHONE,PERSON_VERIFIED,
		DRIVER_VERIFIED
	</sql>
	<!-- 返利信息字段 -->

	<sql id="Rebate_Column_List">
		ID, USERCODE, USERNAME, PHONE, PERSON_VERIFIED,DRIVER_VERIFIED
	</sql>

	<!-- 显示用户基本信息 -->

	<select id="showUserBaseInfo" parameterType="Long"
		resultMap="USER_Base_Column_List_Type">
		select

		<include refid="User_Base_Column_List" />
		from user where ID = #{ID}
	</select>

	<!-- 更新用户基本信息 -->

	<update id="updateUserBaseInfo" parameterType="java.util.Map">
		update user

		<set>

			<if test="usercode != null">
				usercode = #{usercode},
			</if>

			<if test="modifydatetime != null">
				username = #{username},
			</if>

			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			
			<if test="username != null">
				username = #{username},
			</if>

			<if test="phone != null">
				phone = #{phone},
			</if>

			<if test="sex != null">
				sex = #{sex},
			</if>

			<if test="remark != null">
				remark = #{remark},
			</if>
			
			<if test="driver_level != null">
				driver_level = #{driver_level}
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 更新个人认证信息 -->

	<update id="updatePersonVerifiedInfo" parameterType="Long">
		update user

		<set>

			<if test="username != null">
				username = #{username},
			</if>

			<if test="sex != null">
				sex = #{sex},
			</if>

			<if test="nation != null">
				nation = #{nation},
			</if>

			<if test="address != null">
				address = #{address},
			</if>

			<if test="birthday != null">
				birthday = #{birthday},
			</if>

			<if test="id_card_num != null">
				id_card_num = #{id_card_num},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 更新车主认证信息(user表中内容 ) -->

	<update id="updateDriverVerifiedInfo" parameterType="Long">
		update user

		<set>

			<if test="drivinglicence_num != null">
				drivinglicence_num =
				#{drivinglicence_num},
			</if>
			<if test="drlicence_ti != null">
				drlicence_ti = #{drlicence_ti},
			</if>
		<if test="username != null">
				username = #{username},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="id_card_num != null">
				id_card_num = #{id_card_num}
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 更新车主认证信息(user_car表中内容) -->

	<update id="updateDriverVerifiedInfo_UserCar" parameterType="Long">
		update user_car

		<set>

			<!-- <if test="brand != null"> brand = #{brand}, </if> <if test="style 
				!= null"> style = #{style}, </if> -->

			<if test="car_type_id !=null">
				car_type_id = #{car_type_id},
			</if>

			<if test="color != null">
				color = #{color},
			</if>

			<if test="plate_num != null">
				plate_num = #{plate_num},
			</if>

			<if test="vin != null">
				vin = #{vin},
			</if>

			<if test="eno != null">
				eno = #{eno},
			</if>

			<if test="vehicle_owner != null">
				vehicle_owner = #{vehicle_owner},
			</if>

			<if test="is_oper_vehicle != null">
				is_oper_vehicle =
				#{is_oper_vehicle},
			</if>
		</set>
		where userid = #{id}
	</update>

	<resultMap id="rebateInfoDetails" type="java.util.Map">

		<result column="id" property="id" />

		<result column="username" property="username" />

		<result column="order_cs_id" property="order_cs_id" />

		<result column="reg_date" property="reg_date" />

		<result column="identityStatus" property="identityStatus" />

		<result column="sum" property="sum" />
	</resultMap>

	<!-- 显示指定用户的具体返利信息 -->

	<select id="getRebateListInfo" parameterType="Long" resultMap="rebateInfoDetails">
		SELECT
		u.id as id,
		u.username as username,
		t.order_cs_id as order_cs_id,
		date_format(t.ts_date,'%Y-%m-%d %h:%m:%s') as ts_date,
		CASE WHEN
		ts_type=15 THEN '乘客' WHEN ts_type=16 THEN '车主' END identityStatus,
		t.sum as sum
		FROM
		ts t
		LEFT JOIN
		user u
		ON
		t.userid=u.id
		WHERE
		u.id = #{id};
	</select>

	<!-- 修改返利信息 -->

	<update id="updateRebateInfo">
		update user

		<set>

			<if test="limit_month_as_passenger_self != null">
				limit_month_as_passenger_self = #{limit_month_as_passenger_self},
			</if>

			<if test="limit_month_as_driver_self != null">
				limit_month_as_driver_self = #{limit_month_as_driver_self},
			</if>

			<if test="limit_count_as_passenger_self != null">
				limit_count_as_passenger_self = #{limit_count_as_passenger_self},
			</if>

			<if test="limit_count_as_driver_self != null">
				limit_count_as_driver_self = #{limit_count_as_driver_self},
			</if>

			<if test="active_as_driver_self != null">
				active_as_driver_self =
				#{active_as_driver_self},
			</if>

			<if test="integer_as_driver_self != null">
				integer_as_driver_self =
				#{integer_as_driver_self},
			</if>

			<if test="ratio_as_driver_self != null">
				ratio_as_driver_self =
				#{ratio_as_driver_self},
			</if>

			<if test="active_as_passenger_self != null">
				active_as_passenger_self = #{active_as_passenger_self},
			</if>

			<if test="integer_as_passenger_self != null">
				integer_as_passenger_self = #{integer_as_passenger_self},
			</if>

			<if test="ratio_as_passenger_self != null">
				ratio_as_passenger_self = #{ratio_as_passenger_self},
			</if>
		</set>
		where id = #{id}
	</update>

	<resultMap id="rebateInfo" type="java.util.Map">

		<result column="id" property="id" />

		<result column="username" property="username" />

		<result column="rpcount" property="rpcount" />

		<result column="rpsum" property="rpsum" />

		<result column="reg_date" property="reg_date" />
	</resultMap>

	<!-- 根据邀请码获得使用该邀请码注册的所有用户的返利信息 -->

	<select id="getAllRebateListInfo" parameterType="java.util.Map"
		resultMap="rebateInfo">
		SELECT
		u.id as id,
		u.username as username,
		IFNULL((SELECT COUNT(*) FROM
		order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE
		a.passenger=u.id AND b.ts_type=15),0)+
		IFNULL((SELECT COUNT(*) FROM
		order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE
		a.driver=u.id AND b.ts_type=16),0) AS rpcount,
		IFNULL((SELECT
		SUM(b.sum) FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id
		WHERE a.passenger=u.id AND b.ts_type=15),0)+
		IFNULL((SELECT SUM(b.sum)
		FROM order_exec_cs a LEFT JOIN ts b ON a.id=b.order_cs_id WHERE
		a.driver=u.id AND b.ts_type=16),0) AS rpsum,
		date_format(u.reg_date,'%Y-%m-%d %h:%m:%s') as reg_date
		FROM
		user u
		WHERE
		u.invitecode_regist=#{invitecode_self}
		ORDER BY rpsum DESC
		LIMIT #{start},#{limit} 
	</select>

	<!-- 车辆品牌结果集 -->

	<resultMap id="car_brand" type="java.util.Map">

		<result column="brand" property="brand" />
	</resultMap>
	<!-- 查询车辆品牌 -->

	<select id="findCarBrand" resultMap="car_brand">
		SELECT DISTINCT
		brand FROM car_type ;
	</select>

	<!-- 车辆型号结果集 -->

	<resultMap id="car_style" type="java.util.Map">

		<result column="style" property="style" />
	</resultMap>

	<!-- 查询车辆型号 -->

	<select id="findCarStyle" parameterType="java.util.Map"
		resultMap="car_style">
		SELECT car_style FROM car_type

		<where>

			<if test="brand != null">
				brand LIKE '%${brand}%'
			</if>
		</where>
	</select>

	<!-- 查询车辆品牌型号记录id，用于保存时使用 -->

	<select id="getCarTypeID" parameterType="java.util.Map"
		resultType="long">
		SELECT id FROM car_type

		<where>

			<if test="brand != null">
				brand = #{brand}
			</if>

			<if test="style != null">
				AND car_style = #{style}
			</if>
		</where>
	</select>

	<!-- 查询车辆品牌型号记录id，用于保存时使用 -->

	<select id="countCityUserByTime" parameterType="java.util.Map"
		resultType="long">
		SELECT count(*) FROM user a left join city b on
		a.city_register = b.code
		where b.name = #{cityName}
		<if test="startTime != null">
			<![CDATA[and a.reg_date >= #{startTime} AND a.reg_date<= #{endTime}]]>
		</if>
	</select>
	
	<!-- 根据用户名查找用户 -->
	<select id="findByCode" parameterType="String" resultMap="USER_All_Info1">
		select * from user where usercode = #{usercode}
	</select>
	
	<!-- 根据ID查找用户 -->
	<select id="findById" parameterType="long" resultMap="USER_All_Info1">
		select * from user where id = #{id}
	</select>
	
	
	<select id="findUsersByConditionExcel" parameterType="java.util.Map" resultType="ExcelUser">
		select
		u.id,
		u.usercode,
		u.username,
		u.phone,
		u.nickname,
    	dd.username as username_regist,
	    dd.phone as phone_regist,
	    dd.nickname as nickname_regist,
		CASE WHEN u.person_verified=0 THEN '未认证' WHEN
		u.person_verified=1 THEN '已认证' ELSE '待认证' END person_verified ,
		u.reg_date,
		u.channel_flag,
		CASE
		WHEN u.driver_verified=0 THEN '未认证' WHEN u.driver_verified=1 THEN
		'已认证' ELSE '待认证' END driver_verified ,
		(SELECT
		group_name
		FROM
		group_ WHERE groupid = (SELECT groupid FROM group_details WHERE userid =
		u.id)) AS group_name,
		uc.car_type_id AS car_type_id

		from user u LEFT
		JOIN user_car uc ON u.id = uc.userid
	  left join user dd on u.invitecode_regist = dd.invitecode_self

		<where>

			<if
				test="conditionSelect != null and conditionSelect == &apos;usercode&apos; and conditionInput != null">

				<!-- usercode = #{conditionInput} -->
				u.usercode LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;username&apos; and conditionInput != null">

				<!-- username = #{conditionInput} -->
				u.username LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;id&apos; and conditionInput != null">

				<!-- id = #{conditionInput} -->
				u.id LIKE '%${conditionInput}%'
			</if>

			<if
				test="conditionSelect != null and conditionSelect == &apos;phone&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				u.phone LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="conditionSelect != null and conditionSelect == &apos;all&apos; and conditionInput != null">

				<!-- phone = #{conditionInput} -->
				u.usercode LIKE '%${conditionInput}%' or u.username LIKE '%${conditionInput}%' or u.phone LIKE '%${conditionInput}%' or u.id LIKE '%${conditionInput}%'
			</if>
			
			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;person_verified&apos; ">
				AND u.person_verified = 2
			</if>

			<if
				test="verifiedStaus != null and  verifiedStaus == &apos;driver_verified&apos; ">
				AND u.driver_verified = 2
			</if>
		</where>
		order by nickname_regist
		
	</select>
	
	<!-- 查询推送需要的数据 -->
	  <select id="queryPushInfoByUserId" parameterType="long" resultType="com.nmdy.customerManage.user.dao.PushInfo">
        SELECT #{userId} userId, user.phone_system phoneSystem,user_login.pushnotif_token pushToken
        FROM user
        INNER JOIN user_login
        ON user.device_token=user_login.devtoken
        WHERE user.id = #{userId}
        AND user.loggedout=0
        AND user_login.loggedout=0
        AND user_login.deleted=0
    </select>
</mapper>