<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinche.authority.manager.dao.UserRoleMapper" >

    <resultMap
        id="UserRoleResult"
        type="UserRole" >

        <id
            column="id"
            property="id" />

        <result
            column="user_id"
            property="user_id" />

        <result
            column="role_id"
            property="role_id" />

        <result
            column="deleted"
            property="deleted" />
    </resultMap>

    <select
        id="findOneById"
        resultType="UserRole" >
		SELECT * FROM user_role WHERE id=#{id} AND deleted=0
    </select>

    <select
        id="findByUserId"
        resultMap="UserRoleResult" >
		SELECT * FROM user_role WHERE user_id=#{user_id} AND deleted=0
    </select>

    <select
        id="findByRoleId"
        resultMap="UserRoleResult" >
		SELECT * FROM user_role WHERE role_id=#{role_id} AND deleted=0
    </select>

    <update
        id="deleteRole"
        parameterType="int" >
		UPDATE user_role SET deleted=1 WHERE role_id=#{id}
    </update>

    <insert
        id="addRole"
        keyProperty="id"
        parameterType="UserRole"
        useGeneratedKeys="true" >
		INSERT INTO user_role(user_id, role_id, deleted) VALUE(#{user_id}, #{role_id}, 0)
    </insert>

</mapper>