<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmdy.financial.manage.dao.MyFormMapper" >

    <resultMap
        id="usersResult"
        type="com.nmdy.financial.manage.dao.UsersEntity" >

        <result
            column="userid"
            property="userid" />

        <result
            column="username"
            property="username" />
         <result
            column="aname"
            property="aname" />
          <result
            column="bname"
            property="bname" />

        <result
            column="phone"
            property="phone" />

        <result
            column="account_type"
            property="account_type" />

        <result
            column="sum"
            property="sum" />

        <result
            column="status"
            property="status" />

        <result
            column="remark"
            property="remark" />

        <result
            column="order_id"
            property="order_id" />

        <result
            column="req_user"
            property="req_user" />

        <result
            column="req_cause"
            property="req_cause" />

        <result
            column="reject_cause"
            property="reject_cause" />

        <result
            column="id"
            property="formid" />

        <result
            column="balance"
            property="balance" />

        <result
            column="order_cs_id"
            property="order_cs_id" />
    </resultMap>

    <resultMap
        id="orderResult"
        type="com.nmdy.financial.manage.dao.OrderEntity" >

        <result
            column="order_type"
            property="ordertype" />

        <result
            column="pname"
            property="pname" />

        <result
            column="pphone"
            property="pphone" />

        <result
            column="dname"
            property="dname" />

        <result
            column="dphone"
            property="dphone" />

        <result
            column="order_num"
            property="ordernum" />

        <result
            column="status"
            property="orderstatus" />

        <result
            column="order_cs_id"
            property="oid" />

        <result
            column="cr_date"
            property="cr_date" />

        <result
            column="ti_accept_order"
            property="ti_accept_order" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />

        <result
            column="driverarrival_time"
            property="driverarrival_time" />

        <result
            column="beginservice_time"
            property="beginservice_time" />

        <result
            column="stopservice_time"
            property="stopservice_time" />

        <result
            column="pay_time"
            property="pay_time" />

        <result
            column="pass_cancel_time"
            property="pass_cancel_time" />

        <result
            column="driver_cancel_time"
            property="driver_cancel_time" />

        <result
            column="passenger"
            property="passenger" />

        <result
            column="driver"
            property="driver" />

        <result
            column="id"
            property="ordercsid" />
    </resultMap>

    <resultMap
        id="userinfoResult"
        type="com.nmdy.financial.manage.dao.Userinfo" >

        <result
            column="username"
            property="usersname" />
    </resultMap>
    <!-- 详细订单 -->

    <resultMap
        id="orderexeccs"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="order_type"
            property="order_type" />

        <result
            column="passenger"
            property="passenger" />

        <result
            column="driver"
            property="driver" />

        <result
            column="from_"
            property="from_" />

        <result
            column="to_"
            property="to_" />

        <result
            column="average_price_platform"
            property="average_price_platform" />

        <result
            column="price"
            property="price" />

        <result
            column="pre_time"
            property="pre_time" />

        <result
            column="remark"
            property="remark" />

        <result
            column="driverarrival_time"
            property="driverarrival_time" />

        <result
            column="clientbeginservice_time"
            property="clientbeginservice_time" />

        <result
            column="clientend_time"
            property="clientend_time" />

        <result
            column="city_from"
            property="city_from" />

        <result
            column="city_to"
            property="city_to" />

        <result
            column="has_evaluation_passenger"
            property="has_evaluation_passenger" />

        <result
            column="has_evaluation_driver"
            property="has_evaluation_driver" />

        <result
            column="password"
            property="password" />

        <result
            column="begin_lat"
            property="begin_lat" />

        <result
            column="begin_lng"
            property="begin_lng" />

        <result
            column="end_lat"
            property="end_lat" />

        <result
            column="end_lng"
            property="end_lng" />

        <result
            column="freeze_points"
            property="freeze_points" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />

        <result
            column="total_distance"
            property="total_distance" />

        <result
            column="order_city"
            property="order_city" />

        <result
            column="status"
            property="status" />

        <result
            column="deleted"
            property="deleted" />

        <result
            column="cr_date"
            property="cr_date" />

        <result
            column="ti_accept_order"
            property="ti_accept_order" />

        <result
            column="beginservice_time"
            property="beginservice_time" />

        <result
            column="stopservice_time"
            property="stopservice_time" />

        <result
            column="pay_time"
            property="pay_time" />

        <result
            column="pass_cancel_time"
            property="pass_cancel_time" />

        <result
            column="driver_cancel_time"
            property="driver_cancel_time" />

        <result
            column="order_num"
            property="order_num" />
    </resultMap>

    <resultMap
        id="MidPoints"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="order_type"
            property="order_type" />

        <result
            column="orderid"
            property="orderid" />

        <result
            column="index"
            property="index" />

        <result
            column="lat"
            property="lat" />

        <result
            column="lng"
            property="lng" />

        <result
            column="addr"
            property="addr" />

        <result
            column="deleted"
            property="deleted" />
    </resultMap>
    <!-- 乘客电话等信息查询 -->

    <resultMap
        id="userinfo"
        type="java.util.Map" >

        <result
            column="username"
            property="name" />
 <result
            column="aname"
            property="aname" />
 <result
            column="bname"
            property="bname" />
        <result
            column="phone"
            property="phone" />

        <result
            column="remark"
            property="remark" />
    </resultMap>

    <resultMap
        id="ordernuminfo"
        type="java.util.Map" >

        <result
            column="order_num"
            property="ordernum" />
    </resultMap>
    <!-- 上下班班订单 特别部分 -->

    <resultMap
        id="onoff"
        type="java.util.Map" >

        <result
            column="order_cs_id"
            property="onoff_order_id" />

        <result
            column="begin_exec_time"
            property="begin_exec_time" />
    </resultMap>

    <resultMap
        id="style"
        type="java.util.Map" >

        <result
            column="reqcarstyle"
            property="reqcarstyle" />
    </resultMap>

    <resultMap
        id="which_days"
        type="java.util.Map" >

        <result
            column="which_days"
            property="which_days" />
    </resultMap>
    <!-- 长途订单 特别部分 -->

    <resultMap
        id="long"
        type="java.util.Map" >

        <result
            column="order_exec_cs_id"
            property="long_order_id" />

        <result
            column="username"
            property="passengername" />
    </resultMap>
    <!-- balance -->

    <resultMap
        id="userbalance"
        type="java.util.Map" >

        <result
            column="balance"
            property="ubalance" />
    </resultMap>
    <!-- 客户绿点是否冻结 -->

    <resultMap
        id="tstype"
        type="java.util.Map" >

        <result
            column="unf"
            property="unf" />

        <result
            column="f"
            property="f" />
    </resultMap>
    <!-- 当前tsid下ts表里的详细信息 -->

    <resultMap
        id="ts_info"
        type="java.util.Map" >

        <id
            column="id"
            property="id" />

        <result
            column="order_cs_id"
            property="order_cs_id" />

        <result
            column="order_id"
            property="order_id" />

        <result
            column="order_type"
            property="order_type" />

        <result
            column="oper"
            property="oper" />

        <result
            column="ts_way"
            property="ts_way" />

        <result
            column="balance"
            property="balance" />

        <result
            column="tsdate"
            property="ts_date" />

        <result
            column="userid"
            property="userid" />

        <result
            column="groupid"
            property="groupid" />

        <result
            column="unitid"
            property="unitid" />

        <result
            column="remark"
            property="remark" />

        <result
            column="account"
            property="account" />

        <result
            column="account_type"
            property="account_type" />

        <result
            column="application"
            property="application" />

        <result
            column="ts_type"
            property="ts_type" />

        <result
            column="sum"
            property="sum" />

        <result
            column="deleted"
            property="deleted" />
    </resultMap>
    <!-- 订单查询选择 -->

    <select
        id="findorder"
        parameterType="java.util.Map"
        resultMap="orderResult" >
select * from (select tb1.*,u1.username as dname,u1.phone as dphone from (SELECT oec.*,u.username AS pname,u.phone AS pphone
FROM order_exec_cs oec
LEFT JOIN user u ON oec.passenger = u.id
) tb1
LEFT JOIN user u1 ON tb1.driver= u1.id where (passenger=#{uid} or driver=#{uid})) tb2 

        <if test="type==1" >
			    where passenger=#{uid} 
        </if>

        <if test="type==2" >
			    where driver=#{uid} 
        </if>

        <if test="type==3" >
			    where (passenger=#{uid} or driver =#{uid})
        </if>
AND order_type IN  (#{ordertype1},#{ordertype2},#{ordertype3},#{ordertype4})  and 
status in (#{orderstatus1},#{orderstatus2},#{orderstatus3},#{orderstatus4},#{orderstatus5},#{orderstatus6},#{orderstatus7},#{orderstatus8},#{orderstatus9})	    

        <if test="null != begintime and &apos;&apos; != begintime and null != endtime and &apos;&apos; != endtime" >
	        and  ti_accept_order between #{begintime} and #{endtime}
        </if>

        <if test="null != ordernum and &apos;&apos;!=ordernum" >
	       and  tb2.id = #{ordernum}
        </if>

        <if test="null != ousername and &apos;&apos;!= ousername" >
	        and  (pname=#{ousername} or dname =#{ousername})
        </if>
        order by ti_accept_order desc

         
	     LIMIT #{start},#{limit} ;		
    </select>
    <!-- 查询订单 总数 -->

    <select
        id="getOrderCount"
        parameterType="java.util.Map"
        resultType="int" >
	     select count(*) from (select tb1.*,u1.username as dname,u1.phone as dphone from (SELECT oec.*,u.username AS pname,u.phone AS pphone
FROM order_exec_cs oec
LEFT JOIN user u ON oec.passenger = u.id
) tb1
LEFT JOIN user u1 ON tb1.driver= u1.id where (passenger=#{uid} or driver=#{uid})) tb2 

        <if test="type==1" >
			    where passenger=#{uid} 
        </if>

        <if test="type==2" >
			    where driver=#{uid} 
        </if>

        <if test="type==3" >
			    where passenger=#{uid} or driver =#{uid} 
        </if>
AND order_type IN  (#{ordertype1},#{ordertype2},#{ordertype3},#{ordertype4})  and 
status in (#{orderstatus1},#{orderstatus2},#{orderstatus3},#{orderstatus4},#{orderstatus5},#{orderstatus6},#{orderstatus7},#{orderstatus8},#{orderstatus9})	    

        <if test="null != begintime and &apos;&apos; != begintime and null != endtime and &apos;&apos; != endtime" >
	        and  ti_accept_order between #{begintime} and #{endtime}
        </if>

        <if test="null != ordernum and &apos;&apos;!=ordernum" >
	       and  id = #{ordernum}
        </if>

        <if test="null != ousername and &apos;&apos;!= ousername" >
	        and  (pname=#{ousername} or dname =#{ousername})
        </if>
    </select>
    <!-- 查询客户信息 -->

    <select
        id="finduserinfo"
        parameterType="int"
        resultMap="userinfoResult" >
	    select username from user where id=#{usersid}
    </select>
    <!-- 查询我的表单 -->

    <select
        id="find"
        parameterType="java.util.Map"
        resultMap="usersResult" >
select * from (select g.*,p.username as aname from (select a.name as username,a.linkphone as phone, a.id as userid,
case when r.account_type=3 then '合作单位' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.auditor,r.reject_cause,r.id,ts.balance as balance 
from (((select* from req_oper_account where account_type=3 )r left join app_spread_unit a on r.user_id=a.id)left join ts on r.ts_id = ts.id)) g
LEFT JOIN administrator p ON g.auditor = p.id

union all 
select g.*,p.username as aname from (select u.username,u.phone as phone,u.id as userid,
case when r.account_type=1 then '个人客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.auditor,r.reject_cause,r.id,ts.balance as balance
from (( (select* from req_oper_account where account_type=1)r left join user u on r.user_id=u.id)left join ts on r.ts_id = ts.id))  g
LEFT JOIN administrator p ON g.auditor = p.id
union all 
select g.*,p.username as aname from (select g.group_name as username,g.linkphone as phone,g.id as userid,
case when r.account_type=2 then '集团客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.auditor,r.reject_cause,r.id,ts.balance as balance
from (( (select * from req_oper_account where account_type =2 )  r left join group_ g on r.user_id=g.id)left join ts on r.ts_id = ts.id)) g
LEFT JOIN administrator p ON g.auditor = p.id) 
userinfo  where account_type in (#{gr},#{jt},#{hz}) and status in (#{dsh},#{ysh},#{ybh},#{ycx})

        <if test="userid!= null and &apos;&apos; != userid" >
              AND userid = #{userid}  
        </if>

        <if test="phone!= null and &apos;&apos; != phone" >
              AND phone = #{phone}  
        </if>

        <if test="username!= null and &apos;&apos; != username" >
              AND username = #{username}  
        </if>

        <if test="sum!= null and &apos;&apos; != sum" >
              AND sum = #{sum}  
        </if>

        <if test="order_cs_id!= null and &apos;&apos; != order_cs_id" >
              AND order_cs_id = #{order_cs_id}  
        </if>

        <if test="formid!= null and &apos;&apos; != formid" >
              AND id = #{formid}  
        </if>
           <if test="start!= null" >
           		     LIMIT #{start},#{limit} ;
           </if>
    </select>
    <!-- 点击修改重提 弹出框对应的方法 -->

    <select
        id="findbyid"
        parameterType="int"
        resultMap="usersResult" >
select *from (select a.name as username,a.linkphone as phone, a.id as userid,
case when r.account_type=3 then '合作单位' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance 
from (((select* from req_oper_account where account_type=3 )r left join app_spread_unit a on r.user_id=a.id)left join ts on r.ts_id = ts.id)
union all 
select u.username,u.phone as phone,u.id as userid,
case when r.account_type=1 then '个人客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select* from req_oper_account where account_type=1)r left join user u on r.user_id=u.id)left join ts on r.ts_id = ts.id) 
union all
select g.group_name as username,g.linkphone as phone,g.id as userid,
case when r.account_type=2 then '集团客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select * from req_oper_account where account_type =2 )  r left join group_ g on r.user_id=g.id)left join ts on r.ts_id = ts.id))
userinfo  where account_type in ('个人客户','集团客户','合作单位')
              AND id = #{formid}  
    </select>
    <!-- 统计符合条件的总数 -->

    <select
        id="getCount"
        parameterType="java.util.Map"
        resultType="int" >
	  select count(*) from (select a.name as username,a.linkphone as phone, a.id as userid,
case when r.account_type=3 then '合作单位' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance 
from (((select* from req_oper_account where account_type=3 )r left join app_spread_unit a on r.user_id=a.id)left join ts on r.ts_id = ts.id)
union all 
select u.username,u.phone as phone,u.id as userid,
case when r.account_type=1 then '个人客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select* from req_oper_account where account_type=1)r left join user u on r.user_id=u.id)left join ts on r.ts_id = ts.id) 
union all
select g.group_name as username,g.linkphone as phone,g.id as userid,
case when r.account_type=2 then '集团客户' end account_type,
r.sum,case when r.status=1 then '待审核' when r.status=2 then '已通过' 
when r.status=3 then '已驳回' when r.status=4 then '已关闭' when r.status=5 then '处理中' end status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select * from req_oper_account where account_type =2 )  r left join group_ g on r.user_id=g.id)left join ts on r.ts_id = ts.id))
userinfo  where account_type in (#{gr},#{jt},#{hz}) and status in (#{dsh},#{ysh},#{ybh},#{ycx})

        <if test="userid!= null and &apos;&apos; != userid" >
              AND userid = #{userid}  
        </if>

        <if test="phone!= null and &apos;&apos; != phone" >
              AND phone = #{phone}  
        </if>

        <if test="username!= null and &apos;&apos; != username" >
              AND username = #{username}  
        </if>

        <if test="sum!= null and &apos;&apos; != sum" >
              AND sum = #{sum}  
        </if>

        <if test="order_cs_id!= null and &apos;&apos; != order_cs_id" >
              AND order_cs_id = #{order_cs_id}  
        </if>

        <if test="formid!= null and &apos;&apos; != formid" >
              AND id = #{formid}  
        </if>
    </select>
    <!-- 待我审核 -->

    <select
        id="findwait"
        parameterType="java.util.Map"
        resultMap="usersResult" >
	select * from (select g.*,p.username as bname from (select a.name as username,a.linkphone as phone, a.id as userid,r.account_type,
r.sum, r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance 
from (((select* from req_oper_account where account_type=3 )r left join app_spread_unit a on r.user_id=a.id)left join ts on a.balance_ts = ts.id))g
LEFT JOIN administrator p ON g.req_user = p.id
union all 
select g.*,p.username as bname from(select u.username,u.phone as phone,u.id as userid, r.account_type=1,
r.sum, r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select* from req_oper_account where account_type=1)r left join user u on r.user_id=u.id)left join ts on u.balance_ts= ts.id))g
LEFT JOIN administrator p ON g.req_user = p.id
union all
select g.*,p.username as bname from(select g.group_name as username,g.linkphone as phone,g.id as userid,r.account_type,
r.sum,r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select * from req_oper_account where account_type =2 )  r left join group_ g on r.user_id=g.id)left join ts on g.balance_ts = ts.id))g
LEFT JOIN administrator p ON g.req_user = p.id)
userinfo   where status=1   and account_type in (#{gr},#{jt},#{hz})

        <if test="userid!= null and &apos;&apos; != userid" >
              AND userid = #{userid}  
        </if>

        <if test="phone!= null and &apos;&apos; != phone" >
              AND phone = #{phone}  
        </if>

        <if test="username!= null and &apos;&apos; != username" >
              AND username like #{username}  
        </if>

        <if test="sum!= null and &apos;&apos; != sum" >
              AND sum = #{sum}  
        </if>

        <if test="order_cs_id!= null and &apos;&apos; != order_cs_id" >
              AND order_id = #{order_cs_id}  
        </if>

        <if test="formid!= null and &apos;&apos; != formid" >
              AND id = #{formid}  
        </if>
			LIMIT #{start},#{limit} ;
    </select>

    <select
        id="getCountwait"
        parameterType="java.util.Map"
        resultType="int" >
 select count(*) from (select a.name as username,a.linkphone as phone, a.id as userid,r.account_type,
r.sum, r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance 
from (((select* from req_oper_account where account_type=3 )r left join app_spread_unit a on r.user_id=a.id)left join ts on a.balance_ts = ts.id)
union all 
select u.username,u.phone as phone,u.id as userid, r.account_type=1,
r.sum, r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select* from req_oper_account where account_type=1)r left join user u on r.user_id=u.id)left join ts on u.balance_ts= ts.id) 
union all
select g.group_name as username,g.linkphone as phone,g.id as userid,r.account_type,
r.sum,r.status,r.remark,r.req_user
,ts.order_id,r.order_cs_id,r.req_cause,r.reject_cause,r.id,ts.balance as balance
from (( (select * from req_oper_account where account_type =2 )  r left join group_ g on r.user_id=g.id)left join ts on g.balance_ts = ts.id))
userinfo   where status=1  and account_type in (#{gr},#{jt},#{hz})

        <if test="userid!= null and &apos;&apos; != userid" >
              AND userid = #{userid}  
        </if>

        <if test="phone!= null and &apos;&apos; != phone" >
              AND phone = #{phone}  
        </if>

        <if test="username!= null and &apos;&apos; != username" >
              AND username = #{username}  
        </if>

        <if test="sum!= null and &apos;&apos; != sum" >
              AND sum = #{sum}  
        </if>

        <if test="order_cs_id!= null and &apos;&apos; != order_cs_id" >
              AND order_id = #{order_cs_id}  
        </if>

        <if test="formid!= null and &apos;&apos; != formid" >
              AND id = #{formid}  
        </if>
    </select>
    <!-- 驳回 -->

    <update
        id="updateunpass"
        parameterType="java.util.Map" >
	   update req_oper_account

        <set>
	      status=3,audit_date=now(),

            <if test="reject_cause!= null" >
reject_cause=#{reject_cause}
            </if>
        </set>
	    where id =#{unformid}
    </update>
    <!-- 通过 -->

    <update
        id="updatepass"
        parameterType="java.util.Map" >
	   update req_oper_account

        <set>
	      status=2,ts_id=#{tsid},audit_date=now()
        </set>
	    where id =#{unformid}
    </update>
    <!-- 更新user balance_ts -->

    <update
        id="updateupuser"
        parameterType="java.util.Map" >
	   update user

        <set>
	      balance_ts=#{tsid}
        </set>
	    where id =#{uid}
    </update>
    <!-- 更新group balance_ts -->

    <update
        id="updateupgroup"
        parameterType="java.util.Map" >
	   update group_

        <set>
	      balance_ts=#{tsid}
        </set>
	    where id =#{uid}
    </update>
    <!-- 更新appunit balance_ts -->

    <update
        id="updateupunit"
        parameterType="java.util.Map" >
	   update app_spread_unit

        <set>
	      balance_ts=#{tsid}
        </set>
	    where id =#{uid}
    </update>
    <!-- 查询最后操作时的余额 -->


    <!-- 修改重提 req -->

    <update
        id="updatemodifyreq"
        parameterType="java.util.Map" >
	   update req_oper_account 

        <set>
	       sum=#{sum},req_cause=#{req_cause},remark=#{remark},status=1,
	       
	         <if test="order_id!= 0" >
 order_cs_id=#{order_id},
            </if>
	       
	      audit_date=now()
        </set>
	    where  id =#{chergeformid}
    </update>

    <!-- 带我审核确定 -->

    <insert
        id="addmodifytsbal"
        parameterType="java.util.Map" >

        <selectKey
            keyProperty="id"
            order="AFTER"
            resultType="java.lang.Long" >
        SELECT LAST_INSERT_ID() AS id
        </selectKey>
	    insert into ts (order_cs_id,order_id,order_type,oper,ts_way,balance,ts_date,userid,groupid,unitid,remark,account,account_type,application,ts_type,sum) 
	    values(#{order_cs_id},#{order_id},#{order_type},#{oper},#{ts_way},#{balance},now(),#{userid},#{groupid},#{unitid},#{remark},#{account},#{account_type},#{application},#{ts_type},#{sum})
    </insert>

    <!--
	<update id="modifytsbal" parameterType="java.util.Map">
	  update ts
	   <set>
	       
	       balance =#{balance}
			
	   </set>
	    
	    where  id =#{tsid}
	</update>
    -->
    <!-- 查找tsid 用于辅助操作ts表 -->

    <select
        id="findtsid"
        parameterType="java.util.Map"
        resultType="int" >
	  select ts_id from req_oper_account where id = #{chergeformid}
    </select>
    <!-- 关闭 -->

    <update
        id="updatecolse"
        parameterType="java.util.Map" >
	  update req_oper_account

        <set>
	     status = 4
        </set>
	    where  id =#{colseformid}
    </update>
    <!-- 详细订单查询 -->

    <select
        id="findone"
        parameterType="int"
        resultMap="orderexeccs" >
		SELECT * FROM order_exec_cs WHERE id=#{orderid} AND deleted=0
    </select>

    <select
        id="findMidPoints"
        parameterType="java.util.Map"
        resultMap="MidPoints" >
		SELECT * FROM midpoints WHERE deleted = 0 AND orderid = #{orderid}
    </select>

    <select
        id="finduser"
        parameterType="long"
        resultMap="userinfo" >
		select username,phone,remark from user where deleted=0 and id = #{orderid}
    </select>

    <select
        id="findts"
        parameterType="java.util.Map"
        resultMap="tstype" >
	     select(select ifnull(sum(balance),0)as unf from freeze_points where userid=#{passengerid} and state>0)unf,(select ifnull(sum(balance),0) as f from freeze_points where userid=#{passengerid} and state=0)f
    </select>

    <select
        id="findtsinfo"
        parameterType="int"
        resultMap="tstype" >
	    select t.* ,date_format(t.ts_date,'%Y年%m月%d日') as tsdate from ts t where id = #{passtsid}
    </select>
    <!-- balance -->

    <select
        id="finduserbalance"
        parameterType="java.util.Map"
        resultMap="userbalance" >
	select balance from ts where id =(select balance_ts from user where id=#{uid})
    </select>

    <select
        id="findgroupbalance"
        parameterType="java.util.Map"
        resultMap="userbalance" >
	select balance from ts where id =(select balance_ts from group_ where id=#{uid})
    </select>

    <select
        id="findunitbalance"
        parameterType="java.util.Map"
        resultMap="userbalance" >
	select balance from ts where id =(select balance_ts from app_spread_unit where id=#{uid})
    </select>

    <select
        id="findcar"
        parameterType="int"
        resultMap="style" >
	select reqcarstyle from order_temp_details where order_cs_id=#{order_cs_id}
    </select>

</mapper>